.input{
   margin-top: 0;
   transition: 0.6s;
}

.input__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #1E2423;
   padding: 8px 0.8rem;
   margin-inline: 11%;
   border-radius: 0.4rem;
   border: 1px solid #111;
   
}

.input__container input {
   width: 100%;
   padding: 8px 0;
   border: none;
   font-size: 1rem;
   color: whitesmoke;
   background-color: transparent;
   outline: none;
}

.input__container input::placeholder {
   color: whitesmoke;
}

.input__container .searchIcon {
   color: gray;
}

.input__container .icon {
   border-left: 1.5px solid #fff;
   padding-left: 1rem;
}
@media screen and (max-width: 840px) {
   .input__container {
      margin-top: 3.5rem;
   }

   .inputActive {
      margin-top: 8rem;
   }
   
}
